@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure to Delete this User</h1>
<br />

<form asp-action="ConfirmDelete">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/DetailsDeleteRolePartial" />

    <br />

    <input type="submit" value="Delete" class="btn btn-danger" />|
    <a asp-action="Index" class=" btn btn-secondary">Cancel</a>
</form>
